/* cart */

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.cart h3 {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
}

.cart-table {
  width: 100%;
}

.cart-head > ul {
  display: flex;
}

.cart-head > ul > li:first-child {
  width: 60%;
}

.cart-head > ul > li:nth-of-type(2),
.cart-head > ul > li:nth-of-type(3),
.cart-head > ul > li:nth-of-type(4),
.cart-head > ul > li:nth-of-type(5) {
  width: 10%;
  text-align: center;
}

.cart-body {
  display: flex;
  flex-direction: column;
}

.cart-body > ul > li:first-child {
  width: 60%;
}

.cart-body > ul:nth-child(2),
.cart-body > ul:nth-child(3),
.cart-body > ul:nth-child(4),
.cart-body > ul:nth-child(5) {
  width: 10%;
}

.login-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-control {
  margin: 0 auto;
}

label {
  display: block;
  margin: 5px 0;
}

.login-form input {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #eee;
  margin: 5px 0;
}

.total-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  border-top: 1px solid #dedede;
}

@media screen and (max-width: 576px) {
  .cart-table {
    font-size: 12px;
  }
}
